.zig-cache/
zig-out/
**/*.dat
**/build
**/*.DSYM
**/sokol/**/*.dll
**/sokol/**/*.a
**/sokol/**/*.so
**/sokol/**/*.lib
**/sokol/**/*.pdb
**/sokol/**/*.exp
**.rdbg
**/*.pdb
**/*.vs
game5/resources/levels/backups
